/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.btn-none{
    background: none;
    border: none;
}
.btn-no-style {
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    background-position: center;
    -o-background-position: center;
    -webkit-background-position: center;
    background-image: url(../images/switch-on.svg);
    background-color: #fff;
    border: none;
    outline: none;
}

    .btn-no-style:hover {
        background-color: transparent;
    }

    .btn-no-style:active {
        background-color: transparent;
        outline: none;
    }

.btn-no-style-off {
    background-image: url(../images/switch-off.svg);
}


#dvConsole {
    color: #777;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #aaa;
    border-radius: 0;
    padding:5px;
    margin-bottom:5px;
}

.console-text {
    border-top: 1px solid #eee;
    font-size: 12px;
}

.form-group {
    width: 100%;
}

.card {
    -webkit-box-shadow: 0px 10px 20px -14px rgba(64,64,64,1);
    -moz-box-shadow: 0px 10px 20px -14px rgba(64,64,64,1);
    box-shadow: 0px 10px 20px -14px rgba(64,64,64,1);
}
